header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

header > nav {
    float: right;
    font-size: 18px;
    line-height: 30px;
}

nav {
    flex-grow: 1;
  }
  
a:any-link{
    cursor: pointer;
}

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  }
  
  .logo img {
    border-radius: 8px;
  }